body {
	background-color: #f9f5e0;
}

.title {
	text-align: center;
	color: #c8c0d0;
	background: linear-gradient(black, #707070);
	padding: 25px;
	border-style: solid;
	border-radius: 10px;
	border-color: black;
	border-width: 4px;
}

a:link {
	text-decoration: none;
	color: #2020a0;
}

a:visited {
	text-decoration: none;
	color: #2020a0;
}

.books {
	float: right;
	width: 175px;
	margin: 0px 0px 10px 30px;
	border-style: inset;
	padding-left: 20px;
}

.description {
	margin: 5px 10px 10px 0px;
}

h4 {
	margin-bottom: -10px;
}